In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame({'Animal' : ['Falcon', 'Falcon',
                              'Parrot', 'Parrot'],
                  'Max Speed' : [380., 370., 24., 26.]})
df

   Animal  Max Speed
0  Falcon      380.0
1  Falcon      370.0
2  Parrot       24.0
3  Parrot       26.0

In [11]:
animal = df.groupby('Animal')
animal.count()

        Max Speed
Animal
Falcon          2
Parrot          2

In [12]:
help(animal)

Help on DataFrameGroupBy in module pandas.core.groupby.generic object:

class DataFrameGroupBy(NDFrameGroupBy)
 |  DataFrameGroupBy(obj, keys=None, axis=0, level=None, grouper=None, exclusions=None, selection=None, as_index=True, sort=True, group_keys=True, squeeze=False, observed=False, **kwargs)
 |
 |  Class for grouping and aggregating relational data.
 |
 |  See aggregate, transform, and apply functions on this object.
 |
 |  It's easiest to use obj.groupby(...) to use GroupBy, but you can also do:
 |
 |  ::
 |
 |      grouped = groupby(obj, ...)
 |
 |  Parameters
 |  ----------
 |  obj : pandas object
 |  axis : int, default 0
 |  level : int, default None
 |      Level of MultiIndex
 |  groupings : list of Grouping objects
 |      Most users should ignore this
 |  exclusions : array-like, optional
 |      List of columns to exclude
 |  name : string
 |      Most users should ignore this
 |
 |  Returns
 |  -------
 |  **Attributes**
 |  groups : dict
 |      {group name -> group labels}
 |  len(grouped) : int
 |      Number of groups
 |
 |  Notes
 |  -----
 |  After grouping, see aggregate, apply, and transform functions. Here are
 |  some other brief notes about usage. When grouping by multiple groups, the
 |  result index will be a MultiIndex (hierarchical) by default.
 |
 |  Iteration produces (key, group) tuples, i.e. chunking the data by group. So
 |  you can write code like:
 |
 |  ::
 |
 |      grouped = obj.groupby(keys, axis=axis)
 |      for key, group in grouped:
 |          # do something with the data
 |
 |  Function calls on GroupBy, if not specially implemented, "dispatch" to the
 |  grouped data. So if you group a DataFrame and wish to invoke the std()
 |  method on each group, you can simply do:
 |
 |  ::
 |
 |      df.groupby(mapper).std()
 |
 |  rather than
 |
 |  ::
 |
 |      df.groupby(mapper).aggregate(np.std)
 |
 |  You can pass arguments to these "wrapped" functions, too.
 |
 |  See the online documentation for full exposition on these topics and much
 |  more
 |
 |  Method resolution order:
 |      DataFrameGroupBy
 |      NDFrameGroupBy
 |      pandas.core.groupby.groupby.GroupBy
 |      pandas.core.groupby.groupby._GroupBy
 |      pandas.core.base.PandasObject
 |      pandas.core.base.StringMixin
 |      pandas.core.accessor.DirNamesMixin
 |      pandas.core.base.SelectionMixin
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  agg = aggregate(self, arg, *args, **kwargs)
 |
 |  aggregate(self, arg, *args, **kwargs)
 |      Aggregate using one or more operations over the specified axis.
 |
 |
 |
 |      Parameters
 |      ----------
 |      func : function, str, list or dict
 |          Function to use for aggregating the data. If a function, must either
 |          work when passed a DataFrame or when passed to DataFrame.apply.
 |
 |          Accepted combinations are:
 |
 |          - function
 |          - string function name
 |          - list of functions and/or function names, e.g. ``[np.sum, 'mean']``
 |          - dict of axis labels -> functions, function names or list of such.
 |
 |      *args
 |          Positional arguments to pass to `func`.
 |      **kwargs
 |          Keyword arguments to pass to `func`.
 |
 |      Returns
 |      -------
 |      DataFrame, Series or scalar
 |          if DataFrame.agg is called with a single function, returns a Series
 |          if DataFrame.agg is called with several functions, returns a DataFrame
 |          if Series.agg is called with single function, returns a scalar
 |          if Series.agg is called with several functions, returns a Series
 |
 |
 |      See Also
 |      --------
 |      pandas.DataFrame.groupby.apply
 |      pandas.DataFrame.groupby.transform
 |      pandas.DataFrame.aggregate
 |
 |
 |      Notes
 |      -----
 |      `agg` is an alias for `aggregate`. Use the alias.
 |
 |      A passed user-defined-function will be passed a Series for evaluation.
 |
 |
 |      Examples
 |      --------
 |
 |      >>> df = pd.DataFrame({'A': [1, 1, 2, 2],
 |      ...                    'B': [1, 2, 3, 4],
 |      ...                    'C': np.random.randn(4)})
 |
 |      >>> df
 |         A  B         C
 |      0  1  1  0.362838
 |      1  1  2  0.227877
 |      2  2  3  1.267767
 |      3  2  4 -0.562860
 |
 |      The aggregation is for each column.
 |
 |      >>> df.groupby('A').agg('min')
 |         B         C
 |      A
 |      1  1  0.227877
 |      2  3 -0.562860
 |
 |      Multiple aggregations
 |
 |      >>> df.groupby('A').agg(['min', 'max'])
 |          B             C
 |        min max       min       max
 |      A
 |      1   1   2  0.227877  0.362838
 |      2   3   4 -0.562860  1.267767
 |
 |      Select a column for aggregation
 |
 |      >>> df.groupby('A').B.agg(['min', 'max'])
 |         min  max
 |      A
 |      1    1    2
 |      2    3    4
 |
 |      Different aggregations per column
 |
 |      >>> df.groupby('A').agg({'B': ['min', 'max'], 'C': 'sum'})
 |          B             C
 |        min max       sum
 |      A
 |      1   1   2  0.590716
 |      2   3   4  0.704907
 |
 |  boxplot = boxplot_frame_groupby(grouped, subplots=True, column=None, fontsize=None, rot=0, grid=True, ax=None, figsize=None, layout=None, sharex=False, sharey=True, **kwds)
 |      Make box plots from DataFrameGroupBy data.
 |
 |      Parameters
 |      ----------
 |      grouped : Grouped DataFrame
 |      subplots :
 |          * ``False`` - no subplots will be used
 |          * ``True`` - create a subplot for each group
 |      column : column name or list of names, or vector
 |          Can be any valid input to groupby
 |      fontsize : int or string
 |      rot : label rotation angle
 |      grid : Setting this to True will show the grid
 |      ax : Matplotlib axis object, default None
 |      figsize : A tuple (width, height) in inches
 |      layout : tuple (optional)
 |          (rows, columns) for the layout of the plot
 |      sharex : bool, default False
 |          Whether x-axes will be shared among subplots
 |
 |          .. versionadded:: 0.23.1
 |      sharey : bool, default True
 |          Whether y-axes will be shared among subplots
 |
 |          .. versionadded:: 0.23.1
 |      `**kwds` : Keyword Arguments
 |          All other plotting keyword arguments to be passed to
 |          matplotlib's boxplot function
 |
 |      Returns
 |      -------
 |      dict of key/value = group key/DataFrame.boxplot return value
 |      or DataFrame.boxplot return value in case subplots=figures=False
 |
 |      Examples
 |      --------
 |      >>> import itertools
 |      >>> tuples = [t for t in itertools.product(range(1000), range(4))]
 |      >>> index = pd.MultiIndex.from_tuples(tuples, names=['lvl0', 'lvl1'])
 |      >>> data = np.random.randn(len(index),4)
 |      >>> df = pd.DataFrame(data, columns=list('ABCD'), index=index)
 |      >>>
 |      >>> grouped = df.groupby(level='lvl1')
 |      >>> boxplot_frame_groupby(grouped)
 |      >>>
 |      >>> grouped = df.unstack(level='lvl1').groupby(level=0, axis=1)
 |      >>> boxplot_frame_groupby(grouped, subplots=False)
 |
 |  count(self)
 |      Compute count of group, excluding missing values
 |
 |  nunique(self, dropna=True)
 |      Return DataFrame with number of distinct observations per group for
 |      each column.
 |
 |      .. versionadded:: 0.20.0
 |
 |      Parameters
 |      ----------
 |      dropna : boolean, default True
 |          Don't include NaN in the counts.
 |
 |      Returns
 |      -------
 |      nunique: DataFrame
 |
 |      Examples
 |      --------
 |      >>> df = pd.DataFrame({'id': ['spam', 'egg', 'egg', 'spam',
 |      ...                           'ham', 'ham'],
 |      ...                    'value1': [1, 5, 5, 2, 5, 5],
 |      ...                    'value2': list('abbaxy')})
 |      >>> df
 |           id  value1 value2
 |      0  spam       1      a
 |      1   egg       5      b
 |      2   egg       5      b
 |      3  spam       2      a
 |      4   ham       5      x
 |      5   ham       5      y
 |
 |      >>> df.groupby('id').nunique()
 |          id  value1  value2
 |      id
 |      egg    1       1       1
 |      ham    1       1       2
 |      spam   1       2       1
 |
 |      # check for rows with the same id but conflicting values
 |      >>> df.groupby('id').filter(lambda g: (g.nunique() > 1).any())
 |           id  value1 value2
 |      0  spam       1      a
 |      3  spam       2      a
 |      4   ham       5      x
 |      5   ham       5      y
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  corr
 |      Compute pairwise correlation of columns, excluding NA/null values.
 |
 |      Parameters
 |      ----------
 |      method : {'pearson', 'kendall', 'spearman'} or callable
 |          * pearson : standard correlation coefficient
 |          * kendall : Kendall Tau correlation coefficient
 |          * spearman : Spearman rank correlation
 |          * callable: callable with input two 1d ndarrays
 |              and returning a float
 |              .. versionadded:: 0.24.0
 |
 |      min_periods : int, optional
 |          Minimum number of observations required per pair of columns
 |          to have a valid result. Currently only available for pearson
 |          and spearman correlation
 |
 |      Returns
 |      -------
 |      y : DataFrame
 |
 |      See Also
 |      --------
 |      DataFrame.corrwith
 |      Series.corr
 |
 |      Examples
 |      --------
 |      >>> histogram_intersection = lambda a, b: np.minimum(a, b
 |      ... ).sum().round(decimals=1)
 |      >>> df = pd.DataFrame([(.2, .3), (.0, .6), (.6, .0), (.2, .1)],
 |      ...                   columns=['dogs', 'cats'])
 |      >>> df.corr(method=histogram_intersection)
 |            dogs cats
 |      dogs   1.0  0.3
 |      cats   0.3  1.0
 |
 |  corrwith
 |      Compute pairwise correlation between rows or columns of DataFrame
 |      with rows or columns of Series or DataFrame.  DataFrames are first
 |      aligned along both axes before computing the correlations.
 |
 |      Parameters
 |      ----------
 |      other : DataFrame, Series
 |      axis : {0 or 'index', 1 or 'columns'}, default 0
 |          0 or 'index' to compute column-wise, 1 or 'columns' for row-wise
 |      drop : boolean, default False
 |          Drop missing indices from result
 |      method : {'pearson', 'kendall', 'spearman'} or callable
 |          * pearson : standard correlation coefficient
 |          * kendall : Kendall Tau correlation coefficient
 |          * spearman : Spearman rank correlation
 |          * callable: callable with input two 1d ndarrays
 |              and returning a float
 |
 |          .. versionadded:: 0.24.0
 |
 |      Returns
 |      -------
 |      correls : Series
 |
 |      See Also
 |      -------
 |      DataFrame.corr
 |
 |  cov
 |      Compute pairwise covariance of columns, excluding NA/null values.
 |
 |      Compute the pairwise covariance among the series of a DataFrame.
 |      The returned data frame is the `covariance matrix
 |      <https://en.wikipedia.org/wiki/Covariance_matrix>`__ of the columns
 |      of the DataFrame.
 |
 |      Both NA and null values are automatically excluded from the
 |      calculation. (See the note below about bias from missing values.)
 |      A threshold can be set for the minimum number of
 |      observations for each value created. Comparisons with observations
 |      below this threshold will be returned as ``NaN``.
 |
 |      This method is generally used for the analysis of time series data to
 |      understand the relationship between different measures
 |      across time.
 |
 |      Parameters
 |      ----------
 |      min_periods : int, optional
 |          Minimum number of observations required per pair of columns
 |          to have a valid result.
 |
 |      Returns
 |      -------
 |      DataFrame
 |          The covariance matrix of the series of the DataFrame.
 |
 |      See Also
 |      --------
 |      pandas.Series.cov : Compute covariance with another Series.
 |      pandas.core.window.EWM.cov: Exponential weighted sample covariance.
 |      pandas.core.window.Expanding.cov : Expanding sample covariance.
 |      pandas.core.window.Rolling.cov : Rolling sample covariance.
 |
 |      Notes
 |      -----
 |      Returns the covariance matrix of the DataFrame's time series.
 |      The covariance is normalized by N-1.
 |
 |      For DataFrames that have Series that are missing data (assuming that
 |      data is `missing at random
 |      <https://en.wikipedia.org/wiki/Missing_data#Missing_at_random>`__)
 |      the returned covariance matrix will be an unbiased estimate
 |      of the variance and covariance between the member Series.
 |
 |      However, for many applications this estimate may not be acceptable
 |      because the estimate covariance matrix is not guaranteed to be positive
 |      semi-definite. This could lead to estimate correlations having
 |      absolute values which are greater than one, and/or a non-invertible
 |      covariance matrix. See `Estimation of covariance matrices
 |      <http://en.wikipedia.org/w/index.php?title=Estimation_of_covariance_
 |      matrices>`__ for more details.
 |
 |      Examples
 |      --------
 |      >>> df = pd.DataFrame([(1, 2), (0, 3), (2, 0), (1, 1)],
 |      ...                   columns=['dogs', 'cats'])
 |      >>> df.cov()
 |                dogs      cats
 |      dogs  0.666667 -1.000000
 |      cats -1.000000  1.666667
 |
 |      >>> np.random.seed(42)
 |      >>> df = pd.DataFrame(np.random.randn(1000, 5),
 |      ...                   columns=['a', 'b', 'c', 'd', 'e'])
 |      >>> df.cov()
 |                a         b         c         d         e
 |      a  0.998438 -0.020161  0.059277 -0.008943  0.014144
 |      b -0.020161  1.059352 -0.008543 -0.024738  0.009826
 |      c  0.059277 -0.008543  1.010670 -0.001486 -0.000271
 |      d -0.008943 -0.024738 -0.001486  0.921297 -0.013692
 |      e  0.014144  0.009826 -0.000271 -0.013692  0.977795
 |
 |      **Minimum number of periods**
 |
 |      This method also supports an optional ``min_periods`` keyword
 |      that specifies the required minimum number of non-NA observations for
 |      each column pair in order to have a valid result:
 |
 |      >>> np.random.seed(42)
 |      >>> df = pd.DataFrame(np.random.randn(20, 3),
 |      ...                   columns=['a', 'b', 'c'])
 |      >>> df.loc[df.index[:5], 'a'] = np.nan
 |      >>> df.loc[df.index[5:10], 'b'] = np.nan
 |      >>> df.cov(min_periods=12)
 |                a         b         c
 |      a  0.316741       NaN -0.150812
 |      b       NaN  1.248003  0.191417
 |      c -0.150812  0.191417  0.895202
 |
 |  diff
 |      First discrete difference of element.
 |
 |      Calculates the difference of a DataFrame element compared with another
 |      element in the DataFrame (default is the element in the same column
 |      of the previous row).
 |
 |      Parameters
 |      ----------
 |      periods : int, default 1
 |          Periods to shift for calculating difference, accepts negative
 |          values.
 |      axis : {0 or 'index', 1 or 'columns'}, default 0
 |          Take difference over rows (0) or columns (1).
 |
 |          .. versionadded:: 0.16.1.
 |
 |      Returns
 |      -------
 |      diffed : DataFrame
 |
 |      See Also
 |      --------
 |      Series.diff: First discrete difference for a Series.
 |      DataFrame.pct_change: Percent change over given number of periods.
 |      DataFrame.shift: Shift index by desired number of periods with an
 |          optional time freq.
 |
 |      Examples
 |      --------
 |      Difference with previous row
 |
 |      >>> df = pd.DataFrame({'a': [1, 2, 3, 4, 5, 6],
 |      ...                    'b': [1, 1, 2, 3, 5, 8],
 |      ...                    'c': [1, 4, 9, 16, 25, 36]})
 |      >>> df
 |         a  b   c
 |      0  1  1   1
 |      1  2  1   4
 |      2  3  2   9
 |      3  4  3  16
 |      4  5  5  25
 |      5  6  8  36
 |
 |      >>> df.diff()
 |           a    b     c
 |      0  NaN  NaN   NaN
 |      1  1.0  0.0   3.0
 |      2  1.0  1.0   5.0
 |      3  1.0  1.0   7.0
 |      4  1.0  2.0   9.0
 |      5  1.0  3.0  11.0
 |
 |      Difference with previous column
 |
 |      >>> df.diff(axis=1)
 |          a    b     c
 |      0 NaN  0.0   0.0
 |      1 NaN -1.0   3.0
 |      2 NaN -1.0   7.0
 |      3 NaN -1.0  13.0
 |      4 NaN  0.0  20.0
 |      5 NaN  2.0  28.0
 |
 |      Difference with 3rd previous row
 |
 |      >>> df.diff(periods=3)
 |           a    b     c
 |      0  NaN  NaN   NaN
 |      1  NaN  NaN   NaN
 |      2  NaN  NaN   NaN
 |      3  3.0  2.0  15.0
 |      4  3.0  4.0  21.0
 |      5  3.0  6.0  27.0
 |
 |      Difference with following row
 |
 |      >>> df.diff(periods=-1)
 |           a    b     c
 |      0 -1.0  0.0  -3.0
 |      1 -1.0 -1.0  -5.0
 |      2 -1.0 -1.0  -7.0
 |      3 -1.0 -2.0  -9.0
 |      4 -1.0 -3.0 -11.0
 |      5  NaN  NaN   NaN
 |
 |  dtypes
 |      Return the dtypes in the DataFrame.
 |
 |      This returns a Series with the data type of each column.
 |      The result's index is the original DataFrame's columns. Columns
 |      with mixed types are stored with the ``object`` dtype. See
 |      :ref:`the User Guide <basics.dtypes>` for more.
 |
 |      Returns
 |      -------
 |      pandas.Series
 |          The data type of each column.
 |
 |      See Also
 |      --------
 |      pandas.DataFrame.ftypes : Dtype and sparsity information.
 |
 |      Examples
 |      --------
 |      >>> df = pd.DataFrame({'float': [1.0],
 |      ...                    'int': [1],
 |      ...                    'datetime': [pd.Timestamp('20180310')],
 |      ...                    'string': ['foo']})
 |      >>> df.dtypes
 |      float              float64
 |      int                  int64
 |      datetime    datetime64[ns]
 |      string              object
 |      dtype: object
 |
 |  fillna
 |      Fill NA/NaN values using the specified method.
 |
 |      Parameters
 |      ----------
 |      value : scalar, dict, Series, or DataFrame
 |          Value to use to fill holes (e.g. 0), alternately a
 |          dict/Series/DataFrame of values specifying which value to use for
 |          each index (for a Series) or column (for a DataFrame). (values not
 |          in the dict/Series/DataFrame will not be filled). This value cannot
 |          be a list.
 |      method : {'backfill', 'bfill', 'pad', 'ffill', None}, default None
 |          Method to use for filling holes in reindexed Series
 |          pad / ffill: propagate last valid observation forward to next valid
 |          backfill / bfill: use NEXT valid observation to fill gap
 |      axis : {0 or 'index', 1 or 'columns'}
 |      inplace : boolean, default False
 |          If True, fill in place. Note: this will modify any
 |          other views on this object, (e.g. a no-copy slice for a column in a
 |          DataFrame).
 |      limit : int, default None
 |          If method is specified, this is the maximum number of consecutive
 |          NaN values to forward/backward fill. In other words, if there is
 |          a gap with more than this number of consecutive NaNs, it will only
 |          be partially filled. If method is not specified, this is the
 |          maximum number of entries along the entire axis where NaNs will be
 |          filled. Must be greater than 0 if not None.
 |      downcast : dict, default is None
 |          a dict of item->dtype of what to downcast if possible,
 |          or the string 'infer' which will try to downcast to an appropriate
 |          equal type (e.g. float64 to int64 if possible)
 |
 |      Returns
 |      -------
 |      filled : DataFrame
 |
 |      See Also
 |      --------
 |      interpolate : Fill NaN values using interpolation.
 |      reindex, asfreq
 |

In [13]:
len(animal)

2

In [19]:
animal.groups

{'Falcon': Int64Index([0, 1], dtype='int64'),
 'Parrot': Int64Index([2, 3], dtype='int64')}

In [18]:
animal.groups.keys()

dict_keys(['Falcon', 'Parrot'])

In [21]:
animal.groups.values()

dict_values([Int64Index([0, 1], dtype='int64'), Int64Index([2, 3], dtype='int64')])

In [24]:
for key, group in animal:
    print(key," -> " ,group)

Falcon  ->     Animal  Max Speed
0  Falcon      380.0
1  Falcon      370.0
Parrot  ->     Animal  Max Speed
2  Parrot       24.0
3  Parrot       26.0

In [41]:
group1 = []
for key, group in animal:
    print(group)
    print("group['Animal'] = ",group["Animal"],"\n")
    print("group['Max Speed'] = ",group["Max Speed"],"\n")
    print("Type = ", type(group))
    group1.append(group)

   Animal  Max Speed
0  Falcon      380.0
1  Falcon      370.0
group['Animal'] =  0    Falcon
1    Falcon
Name: Animal, dtype: object

group['Max Speed'] =  0    380.0
1    370.0
Name: Max Speed, dtype: float64

Type =  <class 'pandas.core.frame.DataFrame'>
   Animal  Max Speed
2  Parrot       24.0
3  Parrot       26.0
group['Animal'] =  2    Parrot
3    Parrot
Name: Animal, dtype: object

group['Max Speed'] =  2    24.0
3    26.0
Name: Max Speed, dtype: float64

Type =  <class 'pandas.core.frame.DataFrame'>

In [31]:
group1

[   Animal  Max Speed
 0  Falcon      380.0
 1  Falcon      370.0,    Animal  Max Speed
 2  Parrot       24.0
 3  Parrot       26.0]

In [32]:
type(group1)

list

In [45]:
df1 = pd.DataFrame({'A': [1, 1, 2, 2],
                 'B': [1, 2, 3, 4],
                 'C': np.random.randn(4)})

In [46]:
df1

   A  B         C
0  1  1 -0.914330
1  1  2 -0.396580
2  2  3  0.143018
3  2  4 -0.506791

In [49]:
df1.groupby('A').agg('min')

   B         C
A
1  1 -0.914330
2  3 -0.506791

In [50]:
df1.groupby('A').agg('count')

   B  C
A
1  2  2
2  2  2

In [51]:
df1.groupby('A').agg(['min','max'])

    B             C
  min max       min       max
A
1   1   2 -0.914330 -0.396580
2   3   4 -0.506791  0.143018

In [52]:
df1.groupby("A").B.agg(['max', 'sum'])

   max  sum
A
1    2    3
2    4    7

In [53]:
df1.groupby('A').agg({'B':['min','max'], 'C':'sum'})

    B             C
  min max       sum
A
1   1   2 -1.310910
2   3   4 -0.363772

In [54]:
import itertools

In [55]:
tuples = [t for t in itertools.product(range(1000), range(4))]
tuples

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 3),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3),
 (5, 0),
 (5, 1),
 (5, 2),
 (5, 3),
 (6, 0),
 (6, 1),
 (6, 2),
 (6, 3),
 (7, 0),
 (7, 1),
 (7, 2),
 (7, 3),
 (8, 0),
 (8, 1),
 (8, 2),
 (8, 3),
 (9, 0),
 (9, 1),
 (9, 2),
 (9, 3),
 (10, 0),
 (10, 1),
 (10, 2),
 (10, 3),
 (11, 0),
 (11, 1),
 (11, 2),
 (11, 3),
 (12, 0),
 (12, 1),
 (12, 2),
 (12, 3),
 (13, 0),
 (13, 1),
 (13, 2),
 (13, 3),
 (14, 0),
 (14, 1),
 (14, 2),
 (14, 3),
 (15, 0),
 (15, 1),
 (15, 2),
 (15, 3),
 (16, 0),
 (16, 1),
 (16, 2),
 (16, 3),
 (17, 0),
 (17, 1),
 (17, 2),
 (17, 3),
 (18, 0),
 (18, 1),
 (18, 2),
 (18, 3),
 (19, 0),
 (19, 1),
 (19, 2),
 (19, 3),
 (20, 0),
 (20, 1),
 (20, 2),
 (20, 3),
 (21, 0),
 (21, 1),
 (21, 2),
 (21, 3),
 (22, 0),
 (22, 1),
 (22, 2),
 (22, 3),
 (23, 0),
 (23, 1),
 (23, 2),
 (23, 3),
 (24, 0),
 (24, 1),
 (24, 2),
 (24, 3),
 (25, 0),
 (25, 1),
 (25, 2),
 (25, 3),
 (26, 0),
 (26, 1),
 (26, 2),
 (26, 3),
 (27, 0),
 (27, 1),
 (27, 2),
 (27, 3),
 (28, 0),
 (28, 1),
 (28, 2),
 (28, 3),
 (29, 0),
 (29, 1),
 (29, 2),
 (29, 3),
 (30, 0),
 (30, 1),
 (30, 2),
 (30, 3),
 (31, 0),
 (31, 1),
 (31, 2),
 (31, 3),
 (32, 0),
 (32, 1),
 (32, 2),
 (32, 3),
 (33, 0),
 (33, 1),
 (33, 2),
 (33, 3),
 (34, 0),
 (34, 1),
 (34, 2),
 (34, 3),
 (35, 0),
 (35, 1),
 (35, 2),
 (35, 3),
 (36, 0),
 (36, 1),
 (36, 2),
 (36, 3),
 (37, 0),
 (37, 1),
 (37, 2),
 (37, 3),
 (38, 0),
 (38, 1),
 (38, 2),
 (38, 3),
 (39, 0),
 (39, 1),
 (39, 2),
 (39, 3),
 (40, 0),
 (40, 1),
 (40, 2),
 (40, 3),
 (41, 0),
 (41, 1),
 (41, 2),
 (41, 3),
 (42, 0),
 (42, 1),
 (42, 2),
 (42, 3),
 (43, 0),
 (43, 1),
 (43, 2),
 (43, 3),
 (44, 0),
 (44, 1),
 (44, 2),
 (44, 3),
 (45, 0),
 (45, 1),
 (45, 2),
 (45, 3),
 (46, 0),
 (46, 1),
 (46, 2),
 (46, 3),
 (47, 0),
 (47, 1),
 (47, 2),
 (47, 3),
 (48, 0),
 (48, 1),
 (48, 2),
 (48, 3),
 (49, 0),
 (49, 1),
 (49, 2),
 (49, 3),
 (50, 0),
 (50, 1),
 (50, 2),
 (50, 3),
 (51, 0),
 (51, 1),
 (51, 2),
 (51, 3),
 (52, 0),
 (52, 1),
 (52, 2),
 (52, 3),
 (53, 0),
 (53, 1),
 (53, 2),
 (53, 3),
 (54, 0),
 (54, 1),
 (54, 2),
 (54, 3),
 (55, 0),
 (55, 1),
 (55, 2),
 (55, 3),
 (56, 0),
 (56, 1),
 (56, 2),
 (56, 3),
 (57, 0),
 (57, 1),
 (57, 2),
 (57, 3),
 (58, 0),
 (58, 1),
 (58, 2),
 (58, 3),
 (59, 0),
 (59, 1),
 (59, 2),
 (59, 3),
 (60, 0),
 (60, 1),
 (60, 2),
 (60, 3),
 (61, 0),
 (61, 1),
 (61, 2),
 (61, 3),
 (62, 0),
 (62, 1),
 (62, 2),
 (62, 3),
 (63, 0),
 (63, 1),
 (63, 2),
 (63, 3),
 (64, 0),
 (64, 1),
 (64, 2),
 (64, 3),
 (65, 0),
 (65, 1),
 (65, 2),
 (65, 3),
 (66, 0),
 (66, 1),
 (66, 2),
 (66, 3),
 (67, 0),
 (67, 1),
 (67, 2),
 (67, 3),
 (68, 0),
 (68, 1),
 (68, 2),
 (68, 3),
 (69, 0),
 (69, 1),
 (69, 2),
 (69, 3),
 (70, 0),
 (70, 1),
 (70, 2),
 (70, 3),
 (71, 0),
 (71, 1),
 (71, 2),
 (71, 3),
 (72, 0),
 (72, 1),
 (72, 2),
 (72, 3),
 (73, 0),
 (73, 1),
 (73, 2),
 (73, 3),
 (74, 0),
 (74, 1),
 (74, 2),
 (74, 3),
 (75, 0),
 (75, 1),
 (75, 2),
 (75, 3),
 (76, 0),
 (76, 1),
 (76, 2),
 (76, 3),
 (77, 0),
 (77, 1),
 (77, 2),
 (77, 3),
 (78, 0),
 (78, 1),
 (78, 2),
 (78, 3),
 (79, 0),
 (79, 1),
 (79, 2),
 (79, 3),
 (80, 0),
 (80, 1),
 (80, 2),
 (80, 3),
 (81, 0),
 (81, 1),
 (81, 2),
 (81, 3),
 (82, 0),
 (82, 1),
 (82, 2),
 (82, 3),
 (83, 0),
 (83, 1),
 (83, 2),
 (83, 3),
 (84, 0),
 (84, 1),
 (84, 2),
 (84, 3),
 (85, 0),
 (85, 1),
 (85, 2),
 (85, 3),
 (86, 0),
 (86, 1),
 (86, 2),
 (86, 3),
 (87, 0),
 (87, 1),
 (87, 2),
 (87, 3),
 (88, 0),
 (88, 1),
 (88, 2),
 (88, 3),
 (89, 0),
 (89, 1),
 (89, 2),
 (89, 3),
 (90, 0),
 (90, 1),
 (90, 2),
 (90, 3),
 (91, 0),
 (91, 1),
 (91, 2),
 (91, 3),
 (92, 0),
 (92, 1),
 (92, 2),
 (92, 3),
 (93, 0),
 (93, 1),
 (93, 2),
 (93, 3),
 (94, 0),
 (94, 1),
 (94, 2),
 (94, 3),
 (95, 0),
 (95, 1),
 (95, 2),
 (95, 3),
 (96, 0),
 (96, 1),
 (96, 2),
 (96, 3),
 (97, 0),
 (97, 1),
 (97, 2),
 (97, 3),
 (98, 0),
 (98, 1),
 (98, 2),
 (98, 3),
 (99, 0),
 (99, 1),
 (99, 2),
 (99, 3),
 (100, 0),
 (100, 1),
 (100, 2),
 (100, 3),
 (101, 0),
 (101, 1),
 (101, 2),
 (101, 3),
 (102, 0),
 (102, 1),
 (102, 2),
 (102, 3),
 (103, 0),
 (103, 1),
 (103, 2),
 (103, 3),
 (104, 0),
 (104, 1),
 (104, 2),
 (104, 3),
 (105, 0),
 (105, 1),
 (105, 2),
 (105, 3),
 (106, 0),
 (106, 1),
 (106, 2),
 (106, 3),
 (107, 0),
 (107, 1),
 (107, 2),
 (107, 3),
 (108, 0),
 (108, 1),
 (108, 2),
 (108, 3),
 (109, 0),
 (109, 1),
 (109, 2),
 (109, 3),
 (110, 0),
 (110, 1),
 (110, 2),
 (110, 3),
 (111, 0),
 (111, 1),
 (111, 2),
 (111, 3),
 (112, 0),
 (112, 1),
 (112, 2),
 (112, 3),
 (113, 0),
 (113, 1),
 (113, 2),
 (113, 3),
 (114, 0),
 (114, 1),
 (114, 2),
 (114, 3),
 (115, 0),
 (115, 1),
 (115, 2),
 (115, 3),
 (116, 0),
 (116, 1),
 (116, 2),
 (116, 3),
 (117, 0),
 (117, 1),
 (117, 2),
 (117, 3),
 (118, 0),
 (118, 1),
 (118, 2),
 (118, 3),
 (119, 0),
 (119, 1),
 (119, 2),
 (119, 3),
 (120, 0),
 (120, 1),
 (120, 2),
 (120, 3),
 (121, 0),
 (121, 1),
 (121, 2),
 (121, 3),
 (122, 0),
 (122, 1),
 (122, 2),
 (122, 3),
 (123, 0),
 (123, 1),
 (123, 2),
 (123, 3),
 (124, 0),
 (124, 1),
 (124, 2),
 (124, 3),
 (125, 0),
 (125, 1),
 (125, 2),
 (125, 3),
 (126, 0),
 (126, 1),
 (126, 2),
 (126, 3),
 (127, 0),
 (127, 1),
 (127, 2),
 (127, 3),
 (128, 0),
 (128, 1),
 (128, 2),
 (128, 3),
 (129, 0),
 (129, 1),
 (129, 2),
 (129, 3),
 (130, 0),
 (130, 1),
 (130, 2),
 (130, 3),
 (131, 0),
 (131, 1),
 (131, 2),
 (131, 3),
 (132, 0),
 (132, 1),
 (132, 2),
 (132, 3),
 (133, 0),
 (133, 1),
 (133, 2),
 (133, 3),
 (134, 0),
 (134, 1),
 (134, 2),
 (134, 3),
 (135, 0),
 (135, 1),
 (135, 2),
 (135, 3),
 (136, 0),
 (136, 1),
 (136, 2),
 (136, 3),
 (137, 0),
 (137, 1),
 (137, 2),
 (137, 3),
 (138, 0),
 (138, 1),
 (138, 2),
 (138, 3),
 (139, 0),
 (139, 1),
 (139, 2),
 (139, 3),
 (140, 0),
 (140, 1),
 (140, 2),
 (140, 3),
 (141, 0),
 (141, 1),
 (141, 2),
 (141, 3),
 (142, 0),
 (142, 1),
 (142, 2),
 (142, 3),
 (143, 0),
 (143, 1),
 (143, 2),
 (143, 3),
 (144, 0),
 (144, 1),
 (144, 2),
 (144, 3),
 (145, 0),
 (145, 1),
 (145, 2),
 (145, 3),
 (146, 0),
 (146, 1),
 (146, 2),
 (146, 3),
 (147, 0),
 (147, 1),
 (147, 2),
 (147, 3),
 (148, 0),
 (148, 1),
 (148, 2),
 (148, 3),
 (149, 0),
 (149, 1),
 (149, 2),
 (149, 3),
 (150, 0),
 (150, 1),
 (150, 2),
 (150, 3),
 (151, 0),
 (151, 1),
 (151, 2),
 (151, 3),
 (152, 0),
 (152, 1),
 (152, 2),
 (152, 3),
 (153, 0),
 (153, 1),
 (153, 2),
 (153, 3),
 (154, 0),
 (154, 1),
 (154, 2),
 (154, 3),
 (155, 0),
 (155, 1),
 (155, 2),
 (155, 3),
 (156, 0),
 (156, 1),
 (156, 2),
 (156, 3),
 (157, 0),
 (157, 1),
 (157, 2),
 (157, 3),
 (158, 0),
 (158, 1),
 (158, 2),
 (158, 3),
 (159, 0),
 (159, 1),
 (159, 2),
 (159, 3),
 (160, 0),
 (160, 1),
 (160, 2),
 (160, 3),
 (161, 0),
 (161, 1),
 (161, 2),
 (161, 3),
 (162, 0),
 (162, 1),
 (162, 2),
 (162, 3),
 (163, 0),
 (163, 1),
 (163, 2),
 (163, 3),
 (164, 0),
 (164, 1),
 (164, 2),
 (164, 3),
 (165, 0),
 (165, 1),
 (165, 2),
 (165, 3),
 (166, 0),
 (166, 1),
 (166, 2),
 (166, 3),
 (167, 0),
 (167, 1),
 (167, 2),
 (167, 3),
 (168, 0),
 (168, 1),
 (168, 2),
 (168, 3),
 (169, 0),
 (169, 1),
 (169, 2),
 (169, 3),
 (170, 0),
 (170, 1),
 (170, 2),
 (170, 3),
 (171, 0),
 (171, 1),
 (171, 2),
 (171, 3),
 (172, 0),
 (172, 1),
 (172, 2),
 (172, 3),
 (173, 0),
 (173, 1),
 (173, 2),
 (173, 3),
 (174, 0),
 (174, 1),
 (174, 2),
 (174, 3),
 (175, 0),
 (175, 1),
 (175, 2),
 (175, 3),
 (176, 0),
 (176, 1),
 (176, 2),
 (176, 3),
 (177, 0),
 (177, 1),
 (177, 2),
 (177, 3),
 (178, 0),
 (178, 1),
 (178, 2),
 (178, 3),
 (179, 0),
 (179, 1),
 (179, 2),
 (179, 3),
 (180, 0),
 (180, 1),
 (180, 2),
 (180, 3),
 (181, 0),
 (181, 1),
 (181, 2),
 (181, 3),
 (182, 0),
 (182, 1),
 (182, 2),
 (182, 3),
 (183, 0),
 (183, 1),
 (183, 2),
 (183, 3),
 (184, 0),
 (184, 1),
 (184, 2),
 (184, 3),
 (185, 0),
 (185, 1),
 (185, 2),
 (185, 3),
 (186, 0),
 (186, 1),
 (186, 2),
 (186, 3),
 (187, 0),
 (187, 1),
 (187, 2),
 (187, 3),
 (188, 0),
 (188, 1),
 (188, 2),
 (188, 3),
 (189, 0),
 (189, 1),
 (189, 2),
 (189, 3),
 (190, 0),
 (190, 1),
 (190, 2),
 (190, 3),
 (191, 0),
 (191, 1),
 (191, 2),
 (191, 3),
 (192, 0),
 (192, 1),
 (192, 2),
 (192, 3),
 (193, 0),
 (193, 1),
 (193, 2),
 (193, 3),
 (194, 0),
 (194, 1),
 (194, 2),
 (194, 3),
 (195, 0),
 (195, 1),
 (195, 2),
 (195, 3),
 (196, 0),
 (196, 1),
 (196, 2),
 (196, 3),
 (197, 0),
 (197, 1),
 (197, 2),
 (197, 3),
 (198, 0),
 (198, 1),
 (198, 2),
 (198, 3),
 (199, 0),
 (199, 1),
 (199, 2),
 (199, 3),
 (200, 0),
 (200, 1),
 (200, 2),
 (200, 3),
 (201, 0),
 (201, 1),
 (201, 2),
 (201, 3),
 (202, 0),
 (202, 1),
 (202, 2),
 (202, 3),
 (203, 0),
 (203, 1),
 (203, 2),
 (203, 3),
 (204, 0),
 (204, 1),
 (204, 2),
 (204, 3),
 (205, 0),
 (205, 1),
 (205, 2),
 (205, 3),
 (206, 0),
 (206, 1),
 (206, 2),
 (206, 3),
 (207, 0),
 (207, 1),
 (207, 2),
 (207, 3),
 (208, 0),
 (208, 1),
 (208, 2),
 (208, 3),
 (209, 0),
 (209, 1),
 (209, 2),
 (209, 3),
 (210, 0),
 (210, 1),
 (210, 2),
 (210, 3),
 (211, 0),
 (211, 1),
 (211, 2),
 (211, 3),
 (212, 0),
 (212, 1),
 (212, 2),
 (212, 3),
 (213, 0),
 (213, 1),
 (213, 2),
 (213, 3),
 (214, 0),
 (214, 1),
 (214, 2),
 (214, 3),
 (215, 0),
 (215, 1),
 (215, 2),
 (215, 3),
 (216, 0),
 (216, 1),
 (216, 2),
 (216, 3),
 (217, 0),
 (217, 1),
 (217, 2),
 (217, 3),
 (218, 0),
 (218, 1),
 (218, 2),
 (218, 3),
 (219, 0),
 (219, 1),
 (219, 2),
 (219, 3),
 (220, 0),
 (220, 1),
 (220, 2),
 (220, 3),
 (221, 0),
 (221, 1),
 (221, 2),
 (221, 3),
 (222, 0),
 (222, 1),
 (222, 2),
 (222, 3),
 (223, 0),
 (223, 1),
 (223, 2),
 (223, 3),
 (224, 0),
 (224, 1),
 (224, 2),
 (224, 3),
 (225, 0),
 (225, 1),
 (225, 2),
 (225, 3),
 (226, 0),
 (226, 1),
 (226, 2),
 (226, 3),
 (227, 0),
 (227, 1),
 (227, 2),
 (227, 3),
 (228, 0),
 (228, 1),
 (228, 2),
 (228, 3),
 (229, 0),
 (229, 1),
 (229, 2),
 (229, 3),
 (230, 0),
 (230, 1),
 (230, 2),
 (230, 3),
 (231, 0),
 (231, 1),
 (231, 2),
 (231, 3),
 (232, 0),
 (232, 1),
 (232, 2),
 (232, 3),
 (233, 0),
 (233, 1),
 (233, 2),
 (233, 3),
 (234, 0),
 (234, 1),
 (234, 2),
 (234, 3),
 (235, 0),
 (235, 1),
 (235, 2),
 (235, 3),
 (236, 0),
 (236, 1),
 (236, 2),
 (236, 3),
 (237, 0),
 (237, 1),
 (237, 2),
 (237, 3),
 (238, 0),
 (238, 1),
 (238, 2),
 (238, 3),
 (239, 0),
 (239, 1),
 (239, 2),
 (239, 3),
 (240, 0),
 (240, 1),
 (240, 2),
 (240, 3),
 (241, 0),
 (241, 1),
 (241, 2),
 (241, 3),
 (242, 0),
 (242, 1),
 (242, 2),
 (242, 3),
 (243, 0),
 (243, 1),
 (243, 2),
 (243, 3),
 (244, 0),
 (244, 1),
 (244, 2),
 (244, 3),
 (245, 0),
 (245, 1),
 (245, 2),
 (245, 3),
 (246, 0),
 (246, 1),
 (246, 2),
 (246, 3),
 (247, 0),
 (247, 1),
 (247, 2),
 (247, 3),
 (248, 0),
 (248, 1),
 (248, 2),
 (248, 3),
 (249, 0),
 (249, 1),
 (249, 2),
 (249, 3),
 ...]

In [56]:
len(tuples)

4000

In [ ]:
itertools.combinations()

In [57]:
from itertools import count
>>> for i in count(10):
...     if i > 20: 
...         break
...     else:
...         print(i)

10
11
12
13
14
15
16
17
18
19
20

In [58]:
from itertools import count
>>> for i in count(10,2):
...     if i > 20: 
...         break
...     else:
...         print(i)

10
12
14
16
18
20

In [59]:
from itertools import islice
>>> for i in islice(count(10), 5):
...     print(i)

10
11
12
13
14

In [66]:
from itertools import cycle

polys = ['triangle', 'square', 'pentagon', 'rectangle']
iterator = cycle(polys)
next(iterator)

next(iterator)

next(iterator)

next(iterator)

'rectangle'

In [69]:
a = list('12345678')
a[0] = a[6] = 0
a[1] = a[-7]
a = int(''.join([str(i) for i in a]))
a

2345608

In [68]:
a[1]

'2'

In [70]:
foo = [2, 18, 9, 22,17,24,8,12,27]
a = list(filter(lambda x: x%3 == 0, foo))
a = list(filter(lambda x: x%2 == 0, foo))
a=map(lambda x:x*2,a)
print(list(a))

[4, 36, 44, 48, 16, 24]

In [71]:
def func(a):
    c=a
    c[0]+=51

b= [1000]
print(b[0])
func(b)
print(b[0])

1000
1051

In [72]:
b = [1,2,2]*-2
b

[]

In [73]:
b='abcd'
for i in range(len(b)-2):
    b[i].upper()

b

'abcd'

In [74]:
class C(Exception):
    pass

b = 1000
try:
    b/=b
    raise C()

except C:
    print("Eception C")
else:
    print("Div Succ")

try:
    b=b/5
except Exception as e:
    print("inse exp blk")
else:
    print("Div 5 succ")

Eception C
Div 5 succ