In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
series = pd.Series()
print('{}\n'.format(series))

Series([], dtype: float64)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

In [4]:
series = pd.Series(5)
print('{}\n'.format(series))

series = pd.Series([1, 2, 3])
print('{}\n'.format(series))

series = pd.Series([1, 2.2]) # upcasting
print('{}\n'.format(series))

arr = np.array([1, 2])
series = pd.Series(arr, dtype=np.float32)
print('{}\n'.format(series))

series = pd.Series([[1, 2], [3, 4]])
print('{}\n'.format(series))

0    5
dtype: int64

0    1
1    2
2    3
dtype: int64

0    1.0
1    2.2
dtype: float64

0    1.0
1    2.0
dtype: float32

0    [1, 2]
1    [3, 4]
dtype: object

In [5]:
#These integers are collectively referred to as the index of a Series, 
#and each individual index element is referred to as a label.
#The default index is integers from 0 to n - 1, where n is the number of elements in the Series.

series = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
print('{}\n'.format(series))

series = pd.Series([1, 2, 3], index=['a', 8, 0.3])
print('{}\n'.format(series))

a    1
b    2
c    3
dtype: int64

a      1
8      2
0.3    3
dtype: int64

In [6]:
#The keys of the dictionary represent the index of the Series, 
#while each individual key is the label for its corresponding value.

series = pd.Series({'a':1, 'b':2, 'c':3})
print('{}\n'.format(series))

series = pd.Series({'b':2, 'a':1, 'c':3})
print('{}\n'.format(series))

a    1
b    2
c    3
dtype: int64

b    2
a    1
c    3
dtype: int64

In [7]:
df = pd.DataFrame()
# Newline added to separate DataFrames
print('{}\n'.format(df))

df = pd.DataFrame([5, 6]) # Row Wise Representation
print('{}\n'.format(df))

df = pd.DataFrame([[5,6]]) # Column Wise Representation
print('{}\n'.format(df))

df = pd.DataFrame([[5, 6], [1, 3]],
                  index=['r1', 'r2'],
                  columns=['c1', 'c2'])
print('{}\n'.format(df))

df = pd.DataFrame({'c1': [1, 2], 'c2': [3, 4]},
                  index=['r1', 'r2'])
print('{}\n'.format(df))

Empty DataFrame
Columns: []
Index: []

   0
0  5
1  6

   0  1
0  5  6

    c1  c2
r1   5   6
r2   1   3

    c1  c2
r1   1   3
r2   2   4

In [9]:
#When we initialize a DataFrame of mixed types, upcasting occurs on a per-column basis.

upcast = pd.DataFrame([[5, 6], [1.2, 3]])
print('{}\n'.format(upcast))
# Datatypes of each column
print(upcast.dtypes)

     0  1
0  5.0  6
1  1.2  3

0    float64
1      int64
dtype: object

In [10]:
#append function returns the modified DataFrame but doesn't actually change the original.
# append function for concatenating DataFrame rows.
#when we append a Series to the DataFrame, we either need to specify the name for the series 
#or use the ignore_index keyword argument. Setting ignore_index=True will change the row labels to integer indexes.

df = pd.DataFrame([[5, 6], [1.2, 3]])
ser = pd.Series([0, 0], name='r3')

df_app = df.append(ser)
print('{}\n'.format(df_app))

df_app = df.append(ser, ignore_index=True)
print('{}\n'.format(df_app))

df2 = pd.DataFrame([[0,0],[9,9]])
df_app = df.append(df2)
print('{}\n'.format(df_app))

      0  1
0   5.0  6
1   1.2  3
r3  0.0  0

     0  1
0  5.0  6
1  1.2  3
2  0.0  0

     0  1
0  5.0  6
1  1.2  3
0  0.0  0
1  9.0  9

In [12]:
#The first way is using the labels keyword argument to specify the labels of the rows/columns we want to drop.
#The second method is to directly use the index or columns keyword arguments to specify the labels of the rows 
#or columns directly, without needing to use axis.
#the drop function returns the modified DataFrame but doesn't actually change the original.
#Note that when using labels and axis, we can't drop both rows and columns from the DataFrame.
#Axis: 0 -> row, 1-> column

df = pd.DataFrame({'c1': [1, 2], 'c2': [3, 4],
                   'c3': [5, 6]},
                  index=['r1', 'r2'])
# Drop row r1
df_drop = df.drop(labels='r1')
print('{}\n'.format(df_drop))

# Drop columns c1, c3
df_drop = df.drop(labels=['c1', 'c3'], axis=1)
print('{}\n'.format(df_drop))

df_drop = df.drop(index='r2')
print('{}\n'.format(df_drop))

df_drop = df.drop(columns='c2')
print('{}\n'.format(df_drop))

df_drop = df.drop(index='r2', columns='c2')
print('{}\n'.format(df_drop))

    c1  c2  c3
r2   2   4   6

    c2
r1   3
r2   4

    c1  c2  c3
r1   1   3   5

    c1  c3
r1   1   5
r2   2   6

    c1  c3
r1   1   5

In [13]:
# To concatenate multiple DataFrames along either rows or columns, we use the pd.concat function.
#concatenate the rows (axis=0, the default), or concatenate the columns (axis=1).

df1 = pd.DataFrame({'c1':[1,2], 'c2':[3,4]},
                   index=['r1','r2'])
df2 = pd.DataFrame({'c1':[5,6], 'c2':[7,8]},
                   index=['r1','r2'])
df3 = pd.DataFrame({'c1':[5,6], 'c2':[7,8]})

concat = pd.concat([df1, df2], axis=1)
# Newline to separate print statements
print('{}\n'.format(concat))

concat = pd.concat([df2, df1, df3])
print('{}\n'.format(concat))

concat = pd.concat([df1, df3], axis=1)
print('{}\n'.format(concat))
#This is because the row labels for df1 and df3 did not match, 
#so result was padded with NaN in locations where values did not exist.

    c1  c2  c1  c2
r1   1   3   5   7
r2   2   4   6   8

    c1  c2
r1   5   7
r2   6   8
r1   1   3
r2   2   4
0    5   7
1    6   8

     c1   c2   c1   c2
r1  1.0  3.0  NaN  NaN
r2  2.0  4.0  NaN  NaN
0   NaN  NaN  5.0  7.0
1   NaN  NaN  6.0  8.0

In [15]:
#The function we use is pd.merge, which takes in two DataFrames for its two required arguments.
#Without using any keyword arguments, pd.merge joins two DataFrames using all their common column labels. 

mlb_df1 = pd.DataFrame({'name': ['john doe', 'al smith', 'sam black', 'john doe'],
                        'pos': ['1B', 'C', 'P', '2B'],
                        'year': [2000, 2004, 2008, 2003]})
mlb_df2 = pd.DataFrame({'name': ['john doe', 'al smith', 'jack lee'],
                        'year': [2000, 2004, 2012],
                        'rbi': [80, 100, 12]})
                        
print('{}\n'.format(mlb_df1))
print('{}\n'.format(mlb_df2))

mlb_merged = pd.merge(mlb_df1, mlb_df2)
print('{}\n'.format(mlb_merged))

        name pos  year
0   john doe  1B  2000
1   al smith   C  2004
2  sam black   P  2008
3   john doe  2B  2003

       name  year  rbi
0  john doe  2000   80
1  al smith  2004  100
2  jack lee  2012   12

       name pos  year  rbi
0  john doe  1B  2000   80
1  al smith   C  2004  100

In [16]:
df = pd.DataFrame({'c1': [1, 2], 'c2': [3, 4],
                   'c3': [5, 6]}, index=['r1', 'r2'])
col1 = df['c1']
# Newline for separating print statements
print('{}\n'.format(col1))

col1_df = df[['c1']]
print('{}\n'.format(col1_df))

col23 = df[['c2', 'c3']]
print('{}\n'.format(col23))

r1    1
r2    2
Name: c1, dtype: int64

    c1
r1   1
r2   2

    c2  c3
r1   3   5
r2   4   6

In [17]:
f = pd.DataFrame({'c1': [1, 2, 3], 'c2': [4, 5, 6],
                   'c3': [7, 8, 9]}, index=['r1', 'r2', 'r3'])

print('{}\n'.format(df))

first_two_rows = df[0:2]
print('{}\n'.format(first_two_rows))

last_two_rows = df['r2':'r3']
print('{}\n'.format(last_two_rows))

# Results in KeyError
#when we tried to retrieve a single row based on its label, 
#we received a KeyError. This is because the DataFrame treated 'r1' as a column label.
df['r1']

    c1  c2  c3
r1   1   3   5
r2   2   4   6

    c1  c2  c3
r1   1   3   5
r2   2   4   6

    c1  c2  c3
r2   2   4   6

KeyError: 'r1'

In [18]:
#We use iloc to access rows based on their integer index. 

df = pd.DataFrame({'c1': [1, 2, 3], 'c2': [4, 5, 6],
                   'c3': [7, 8, 9]}, index=['r1', 'r2', 'r3'])
                   
print('{}\n'.format(df))

print('{}\n'.format(df.iloc[1]))

print('{}\n'.format(df.iloc[[0, 2]]))

bool_list = [False, True, True]
print('{}\n'.format(df.iloc[bool_list]))

    c1  c2  c3
r1   1   4   7
r2   2   5   8
r3   3   6   9

c1    2
c2    5
c3    8
Name: r2, dtype: int64

    c1  c2  c3
r1   1   4   7
r3   3   6   9

    c1  c2  c3
r2   2   5   8
r3   3   6   9

In [2]:
#The loc property provides the same row indexing functionality as iloc, but uses row labels rather than integer indexes. 

df = pd.DataFrame({'c1': [1, 2, 3], 'c2': [4, 5, 6],
                   'c3': [7, 8, 9]}, index=['r1', 'r2', 'r3'])
                   
print('{}\n'.format(df))

print('{}\n'.format(df.loc['r2']))

bool_list = [False, True, True]
print('{}\n'.format(df.loc[bool_list]))

single_val = df.loc['r1', 'c2']
print('Single val: {}\n'.format(single_val))

print('{}\n'.format(df.loc[['r1', 'r3'], 'c2']))

df.loc[['r1', 'r3'], 'c2'] = 0
print('{}\n'.format(df))

    c1  c2  c3
r1   1   4   7
r2   2   5   8
r3   3   6   9

c1    2
c2    5
c3    8
Name: r2, dtype: int64

    c1  c2  c3
r2   2   5   8
r3   3   6   9

Single val: 4

r1    4
r3    6
Name: c2, dtype: int64

    c1  c2  c3
r1   1   0   7
r2   2   5   8
r3   3   0   9

In [4]:
row_13 = df.iloc[[0,2]]
row_13

    c1  c2  c3
r1   1   0   7
r3   3   0   9

In [ ]:
#we can also filter the groups using filter. The filter function takes in another function as its required argument, 
#which specifies how we want to filter the groups. The output of filter is the concatenation of all the groups 
#that pass the filter.

In [ ]:
#columns of a DataFrame as the features of the dataset that it represents. These features can be quantitative or categorical.

#A quantitative feature, e.g. height or weight, is a feature that can be measured numerically. 
#These are features we could calculate the sum, mean, or other numerical metrics for.

#A categorical feature, e.g. gender or birthplace, is one where the values are categories that could be used 
#to group the dataset.

In [5]:
#Along with aggregating quantitative features, we can also apply weights to them. We do this through the multiply function.
#The multiply function takes in a list of weights or a constant as its required argument. 
#If a constant is used, the constant is multiplied across all the rows or columns (depending on the value of axis). 
#If a list is used, then the position of each weight in the list corresponds to which row/column it is multiplied to.
#In contrast with sum and mean, the default axis for multiply is the columns axis. 
#Therefore, to multiply weights along the rows of a DataFrame, we need to explicitly set axis=0.

df = pd.DataFrame({
  'T1': [0.1, 150.],
  'T2': [0.25, 240.],
  'T3': [0.16, 100.]})
  
print('{}\n'.format(df))

print('{}\n'.format(df.multiply(2)))

df_ms = df.multiply([1000, 1], axis=0)
print('{}\n'.format(df_ms))

df_w = df_ms.multiply([1,0.5,1])
print('{}\n'.format(df_w))
print('{}\n'.format(df_w.sum(axis=1)))

      T1      T2      T3
0    0.1    0.25    0.16
1  150.0  240.00  100.00

      T1     T2      T3
0    0.2    0.5    0.32
1  300.0  480.0  200.00

      T1     T2     T3
0  100.0  250.0  160.0
1  150.0  240.0  100.0

      T1     T2     T3
0  100.0  125.0  160.0
1  150.0  120.0  100.0

0    385.0
1    370.0
dtype: float64

In [6]:
df = pd.DataFrame({
  'playerID': ['bettsmo01', 'canoro01', 'cruzne02', 'ortizda01', 'cruzne02'],
  'yearID': [2016, 2016, 2016, 2016, 2017],
  'teamID': ['BOS', 'SEA', 'SEA', 'BOS', 'SEA'],
  'HR': [31, 39, 43, 38, 39]})
  
print('{}\n'.format(df))

cruzne02 = df['playerID'] == 'cruzne02'
print('{}\n'.format(cruzne02))

hr40 = df['HR'] > 40
print('{}\n'.format(hr40))

notbos = df['teamID'] != 'BOS'
print('{}\n'.format(notbos))

    playerID  yearID teamID  HR
0  bettsmo01    2016    BOS  31
1   canoro01    2016    SEA  39
2   cruzne02    2016    SEA  43
3  ortizda01    2016    BOS  38
4   cruzne02    2017    SEA  39

0    False
1    False
2     True
3    False
4     True
Name: playerID, dtype: bool

0    False
1    False
2     True
3    False
4    False
Name: HR, dtype: bool

0    False
1     True
2     True
3    False
4     True
Name: teamID, dtype: bool

In [7]:
#For columns with string values, we can use str.startswith, str.endswith, and str.contains to filter for specific strings. 

df = pd.DataFrame({
  'playerID': ['bettsmo01', 'canoro01', 'cruzne02', 'ortizda01', 'cruzne02'],
  'yearID': [2016, 2016, 2016, 2016, 2017],
  'teamID': ['BOS', 'SEA', 'SEA', 'BOS', 'SEA'],
  'HR': [31, 39, 43, 38, 39]})
  
print('{}\n'.format(df))

str_f1 = df['playerID'].str.startswith('c')
print('{}\n'.format(str_f1))

str_f2 = df['teamID'].str.endswith('S')
print('{}\n'.format(str_f2))

str_f3 = ~df['playerID'].str.contains('o')
print('{}\n'.format(str_f3))

    playerID  yearID teamID  HR
0  bettsmo01    2016    BOS  31
1   canoro01    2016    SEA  39
2   cruzne02    2016    SEA  43
3  ortizda01    2016    BOS  38
4   cruzne02    2017    SEA  39

0    False
1     True
2     True
3    False
4     True
Name: playerID, dtype: bool

0     True
1    False
2    False
3     True
4    False
Name: teamID, dtype: bool

0    False
1    False
2     True
3    False
4     True
Name: playerID, dtype: bool

In [8]:
df = pd.DataFrame({
  'playerID': ['bettsmo01', 'canoro01', 'cruzne02', 'ortizda01', 'cruzne02'],
  'yearID': [2016, 2016, 2016, 2016, 2017],
  'teamID': ['BOS', 'SEA', 'SEA', 'BOS', 'SEA'],
  'HR': [31, 39, 43, 38, 39]})
  
print('{}\n'.format(df))

isin_f1 = df['playerID'].isin(['cruzne02',
                               'ortizda01'])
print('{}\n'.format(isin_f1))

isin_f2 = df['yearID'].isin([2015, 2017])
print('{}\n'.format(isin_f2))

    playerID  yearID teamID  HR
0  bettsmo01    2016    BOS  31
1   canoro01    2016    SEA  39
2   cruzne02    2016    SEA  43
3  ortizda01    2016    BOS  38
4   cruzne02    2017    SEA  39

0    False
1    False
2     True
3     True
4     True
Name: playerID, dtype: bool

0    False
1    False
2    False
3    False
4     True
Name: yearID, dtype: bool

In [9]:
#when a Series or DataFrame has a missing value at a location, it is represented by NaN. 
#The NaN value in pandas is equivalent to np.nan in NumPy.
#we cannot use a relation operation to create a filter condition for NaN values. Instead, we use the isna and notna functions.

f = pd.DataFrame({
  'playerID': ['bettsmo01', 'canoro01', 'doejo01'],
  'yearID': [2016, 2016, 2017],
  'teamID': ['BOS', 'SEA', np.nan],
  'HR': [31, 39, 99]})
  
print('{}\n'.format(df))

isna = df['teamID'].isna()
print('{}\n'.format(isna))

notna = df['teamID'].notna()
print('{}\n'.format(notna))

    playerID  yearID teamID  HR
0  bettsmo01    2016    BOS  31
1   canoro01    2016    SEA  39
2   cruzne02    2016    SEA  43
3  ortizda01    2016    BOS  38
4   cruzne02    2017    SEA  39

0    False
1    False
2    False
3    False
4    False
Name: teamID, dtype: bool

0    True
1    True
2    True
3    True
4    True
Name: teamID, dtype: bool

In [10]:
df = pd.DataFrame({
  'playerID': ['bettsmo01', 'canoro01', 'cruzne02', 'ortizda01', 'bettsmo01'],
  'yearID': [2016, 2016, 2016, 2016, 2015],
  'teamID': ['BOS', 'SEA', 'SEA', 'BOS', 'BOS'],
  'HR': [31, 39, 43, 38, 18]})
  
print('{}\n'.format(df))

hr40_df = df[df['HR'] > 40]
print('{}\n'.format(hr40_df))

not_hr30_df = df[~(df['HR'] > 30)]
print('{}\n'.format(not_hr30_df))

str_df = df[df['teamID'].str.startswith('B')]
print('{}\n'.format(str_df))

    playerID  yearID teamID  HR
0  bettsmo01    2016    BOS  31
1   canoro01    2016    SEA  39
2   cruzne02    2016    SEA  43
3  ortizda01    2016    BOS  38
4  bettsmo01    2015    BOS  18

   playerID  yearID teamID  HR
2  cruzne02    2016    SEA  43

    playerID  yearID teamID  HR
4  bettsmo01    2015    BOS  18

    playerID  yearID teamID  HR
0  bettsmo01    2016    BOS  31
3  ortizda01    2016    BOS  38
4  bettsmo01    2015    BOS  18

In [ ]:
#the sort_values function allows us to sort a DataFrame by one or more of its columns. 
#The first argument is either a column label or a list of column labels to sort by.

In [ ]:
#pandas provides the describe function to obtain a summary of a DataFrame's numeric data.
#To have describe return specific percentiles, we can use the percentiles keyword argument.
#The percentiles argument takes in a list of decimal percentages, representing the percentiles we want returned in the summary.
#Note that the 50th percentile, i.e. the median, is always returned. 
#The values specified in the percentiles list will replace the default 25th and 75th percentiles.

In [ ]:
#The frequency count for a specific category of a feature refers to how many times that category appears in the dataset. 
#In pandas, we use the value_counts function to obtain the frequency counts for each category in a column feature.
#Setting normalize=True returns the frequency proportions, rather than counts, for each category 
#(note that the sum of all the proportions is 1). 

#If we just want the names of each unique category in a column, rather than the frequencies, we use the unique function.

In [ ]:
#In pandas, we convert each categorical feature of a DataFrame to indicator features with the get_dummies function. 
#The function takes in a DataFrame as its required argument, and returns the DataFrame with each of its 
#categorical features converted to indicator features.
#We can then convert to a NumPy matrix using the values function.